<?xml version="1.0" ?>


<launch>

	<arg name="paused" default="true"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>
	<arg name="simulation" default="true"/>
	<arg name="launch_rviz" default="false"/>
	<arg name="rviz_config" default="$(find kuka_iiwa_support)/rviz/gripper.rviz"/>
	
	<!-- We resume the logic in empty_world.launch -->
	<env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find kuka_iiwa_support)/models/gazebo_apriltag/models/"/>
    <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find kuka_iiwa_support)/models/gazebo_apriltag/models/"/>
	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find kuka_iiwa_support)/world/grasp.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<rosparam file="$(find kuka_iiwa_support)/conf/kuka_iiwa_vel_controller.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/kuka_iiwa"
		args="joint_state_controller
		joint1_velocity_controller
		joint2_velocity_controller
		joint3_velocity_controller
		joint4_velocity_controller
		joint5_velocity_controller
		joint6_velocity_controller
		joint7_velocity_controller" />

	<!-- Load gripper controllers in robot namespace and override joint names for integrated model -->
	<rosparam file="$(find wsg50_simulation)/controllers/wsg_50_gr.yaml" command="load" ns="/kuka_iiwa"/>
	<rosparam file="$(find wsg50_simulation)/controllers/wsg_50_gl.yaml" command="load" ns="/kuka_iiwa"/>
	<param name="/kuka_iiwa/wsg_50_gr/joint" value="wsg_50_base_joint_gripper_right"/>
	<param name="/kuka_iiwa/wsg_50_gl/joint" value="wsg_50_base_joint_gripper_left"/>
	<node name="wsg_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/kuka_iiwa"
		args="wsg_50_gr wsg_50_gl"/>

	<!-- Keep standard teleop topics by relaying to namespaced controller commands -->
	<node name="wsg_50_gl_command_bridge" pkg="topic_tools" type="relay" output="screen"
		args="/wsg_50_gl/command /kuka_iiwa/wsg_50_gl/command"/>
	<node name="wsg_50_gr_command_bridge" pkg="topic_tools" type="relay" output="screen"
		args="/wsg_50_gr/command /kuka_iiwa/wsg_50_gr/command"/>


	<!-- Publish TF from /joint_states -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
	

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description" command="$(find xacro)/xacro '$(find kuka_iiwa_support)/urdf/kuka_iiwa_vel_ctrl_gripper.xacro'" />
	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model iiwa -param robot_description"/>

	<!-- Optional RViz visualization -->
	<node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(arg rviz_config)"/>

</launch>

